.App {
  font-family: sans-serif;
  text-align: center;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress_bar {
  width: 50%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.progress_bar > div {
  background-color: #4caf50;
  width: 0;
  height: 20px;
}

.progress_text {
  position: absolute;
  left: 48%;
  z-index: 2;
}

.status {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

